<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: "All Menus"}); %>

</head>
<body>
    <div class="container">
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">Place Your Order Here</h1>
            <a href="/order/<%= OrderId %>" class="btn btn-light">Show All Menu</a>
        </div>
        <hr>
        <form action="/order/<%= OrderId %>" method="get">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" name="search" id="form1" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <br>
        <br>
        <% if (err) { %>
         <h2 style="color: red;">You have to order first to checkout</h2>
        <% } %>
        <br>
        <div class="card-deck">
            <% menus.forEach(el => { %>
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <p class="card-text"> Category: <%= el.category %> </p>
                        </div>
                        <img src="<%= el.imageUrl %>" alt="Menu" class="card-img-top">
                        <div class="card-body text-center">
                          <h4 class="card-title"><%= el.name %> </h4>
                          <p class="card-text"> Price: <%= el.convertPrice() %> </p>
                            <div class="card-footer">
                                <form action="/order/<%= OrderId %>" method="post">
                                  <button name="MenuId" value="<%= el.id %>" type="submit" class="btn btn-outline-dark">Order!</button>
                                </form>
                            </div>
                        </div>
                    </div>     
            <% }) %>
        </div>
        <div class="d-grid gap-2">
            <a href="/order/<%= OrderId %>/delete" class="btn btn-outline-danger" role="button"> Cancel Order </a>
            <a href="/order/<%= OrderId %>/new" class="btn btn-outline-success" role="button"> Checkout </a>
        </div>
    </div>
</body>
</html>