<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
</head>
<body>
    <h1>Orders by <%= member.User.fullName %> with Member <%= member.type %></h1>
    <% if (member.type === 'Reguler') { %>
        <h4>You Will Got 15% Discount for Every Purchase If You Upgrade Your Member Card to Gold, It Only Costs 100.000 IDR/month, Join Gold Member Now!</h4>
        <form action="/<%= UserId %>/order" method="get">
            <button type="submit" name="memberCard" value="Gold">Join Gold Member</button>
        </form>
    <% } %>
    <hr>
    
    <form action="/<%= UserId %>/order" method="post">
        <button type="submit">Create New Order</button>
    </form>
    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>Status</th>
                <th>Menu</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% const orders = member.User.Orders %> 
            <% orders.forEach((order, i) => { %>
             <tr>
                 <td><%= i +1 %></td>
                 <td><%= order.formattedDate(order.createdAt) %></td>
                 <td><%= order.displayedStatus %></td>
                 <td><% order.Menus.forEach(el => { %>
                  <ul>
                      <li><%= el.name %></li>
                  </ul> 
                     <% }) %></td>
                 <td><%= finalPrice(order.totalPrice) %></td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>